body{
    background-image: url(../img/bg.jpg);
}
#texto-slider{
    width: 450px;
    max-width: 80%;
    margin:0 auto;
    display: block;
}
header{
    padding-top:115px;
    background-image: url(../img/topo-slider.png);
    background-size: contain !important;
    background-position: center top !important;
    background-repeat: no-repeat !important;
}
.menu{
    background-color: #44090c;
    margin-top: 20px;
}
.menu ul{
    padding: 10px;
    display:table;
    width:100%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    margin-bottom: 0px;
}
.owl-carousel .owl-item img {
    display: block;
    width: auto !important;
}
.menu li{
    display:table-cell;
    color: white;
    padding: 5px 10px;
    transition:0.5s;
    border-right: solid 2px rgba(255,255,255,0.15);
}
.nav-link {
    display: block;
    padding: .5rem 1rem;
    transition: 0.7s;
}
.menu li a:hover{
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 5px;
}

.menu li:last-child{
    border-right: none !important;
}

.menu-toggle{
    display: none;
    outline: none;
    transition:0.5s;
}
#banner{
    float:left;
    width: 100%;
    background-color: #880f16;
}
#box{
    display: block;
    padding-top: 25px;
    float: left;
    width: 100%;
}
a{
    text-decoration: none !important;
    color: white;
}

.menu a:hover{
    color: white;
}
.box-content{
    display: block;
}

img{
    max-width: 100%;
}

img.caixa-tampa {
    position: absolute;
    transition: 0.3s;
    left: 5%;
}
img.caixa-presente {
    margin-top: 90px;
    transition:0.3s;
}

.link-presente:hover .caixa-tampa {
    transform: rotate(5deg);
}

.link-presente:hover .caixa-presente {
    transform: scale(1.1);
}
.link-presente {
    width: 100%;
}
#produtos h3{
    text-align: center;
    color: white;
    padding-bottom: 20px;
}

.produtos-itens{
    background-color: white;
    width: 100%;
    height: 1000px;
}

.padding-top{
    padding-top: 20px;
}
.menu-toggle{
    background:none;
    color:white;
    font-size: 17px;
    padding-top: 15px;
    border:none;
    outline: none !important;
}

@media only screen and (max-width: 690px) {
    img.caixa-tampa {
        position: absolute;
        transition: 0.3s;
        transform: translateX(50%);
        left: 0%;
    }
    .menu{
        float:left;
        width: 100%;
        transition:0.5s;
    }
    .menu ul{
        padding: 10px;
        display: block;
        width:100%;
        box-sizing:border-box;
        -moz-box-sizing:border-box;
        -webkit-box-sizing:border-box;
    }
    .menu li{
        display:none;
        float:left;
        color: white;
        padding: 5px 10px;
        text-align: center;
        border: solid 2px rgba(255,255,255,0.15);
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .menu li:last-child{
        margin-right: 0px;
        border-right: solid 2px rgba(255,255,255,0.15) !important;
    }
    header{
        padding-top:100px;
        background-image: url(../img/topo-slider-mobile.png);
    }
    .menu-toggle{
        display: block;
    }

}